@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap')

//Fonts
$montserrat: 'Montserrat', sans-serif

//Colors
$color-white: #FFFFFF
$color-black: #000000
$color-background: #181823
$color-text: #E9F8F9
$color-blue: #537FE7
$color-lightblue: #C0EEF2
